<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Facebook</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .container-fluid {
            background-color: #3c589b;
            height: 80px;
        }
    </style>
</head>

<body style="background-color:rgb(224, 226, 235)">
    <div class="container-fluid">
        <div class="row" style="height:40%;"></div>
        <div class="row">
            <div class=" col-sm-10 col-md-10 col-lg-10 col-xs-10">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <form>
                            <div class="col-md-12 form-group">
                                <div class="form-group has-feedback">
                                    <input type="text" class="form-control" placeholder="Search Facebook" style="height:30px;">
                                    <i class="glyphicon glyphicon-search form-control-feedback"></i>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <img src="images/default.png" alt="" height="30px" width="30px">
                        <label style="color: white;">Haris</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="row" style="margin:10px 0px 10px 20px;">
                    <img src="images/default.png" alt="" height="30px" width="30px">
                    <p style="color:black;padding: 10px 0px 0px 10px;">Haris NP</p>
                </div>
                <div class="row" style="margin:10px 0px 10px 20px;">
                    <img src="images/fb_edit.jpg" alt="" height="30px" width="30px">
                    <p style="color:black;padding: 10px 0px 0px 10px;">Edit Profile</p>
                </div>
            </div>
            <div class="col-md-6" style="margin: 10px 0px 0px 40px;">
                <div class="row" style="background-color: white;height:200px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="images/fb_edit.jpg" alt="" height="30px" width="30px">
                                <label>Update Status</label>
                            </div>
                            <div class="col-md-4">
                                <img src="images/fb_edit.jpg" alt="" height="30px" width="30px">
                                <label>Add Photos/Videos</label>

                            </div>
                            <div class="col-md-4">
                                <img src="images/fb_edit.jpg" alt="" height="30px" width="30px">
                                <label>Write Note</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <img src="images/fb_edit.jpg" alt="" height="50px" width="50px">
                            <label>What's On your mind?</label>

                        </div>
                    </div>
                </div>
                <div class="row" style="background-color: white;height:300px;margin-top: 10px;">

                </div>
            </div>
            <div class=" col-md-3 " style="background-color: white;margin: 10px 10px 0px 30px; ">
                <label>YOUR ADS</label>
                <hr>
            </div>

        </div>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
    <script src="bootstrap/js/bootstrap.min.js "></script>
</body>

</html>